<div class="nav-container">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" class="logo-img" />
      <i class="pi pi-lock fallback-icon"></i>
    </div>

  <!-- Navigation Links -->
  <div class="nav-links">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [attr.aria-current]="isActive('/dashboard') ? 'page' : null"
    >
      Dashboard
    </a>
    <a
      routerLink="/tasks"
      routerLinkActive="active"
      [attr.aria-current]="isActive('/tasks') ? 'page' : null"
    >
      Tasks
    </a>
    <a
      routerLink="/messages"
      routerLinkActive="active"
      [attr.aria-current]="isActive('/messages') ? 'page' : null"
    >
      Messages
    </a>
    
  </div>

  <!-- Right Side -->
    <div class="nav-right">
        <select [(ngModel)]="language">
            <option value="en">EN</option>
            <option value="es">ES</option>
        </select>
        <i class="pi pi-search" style="margin: 0 12px;"></i>
        <img [src]="this.avatarUrl" alt="User" class="user-avatar" />
    </div>  
</div>